<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.mapper.MenuMapper">
    <resultMap id="menu" type="Menu">
        <id property="id" column="mid"/>
        <result column="mtitle" property="title"/>
        <result column="miconCls" property="iconCls"/>
        <result column="murl" property="url"/>
        <result column="mparentId" property="parentId"/>
        <collection property="listMenu" ofType="Menu">
            <id column="uid" property="id"/>
            <result column="utitle" property="title"/>
            <result column="uiconCls" property="iconCls"/>
            <result column="uurl" property="url"/>
            <result column="umid" property="parentId"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="menu">
        select m.id mid,m.title mtitle,m.iconCls miconCls,m.url murl,m.parent_id mparentId,u.id uid,u.title utitle,u.iconCls uiconCls,u.url uurl,u.parent_id umid
        from menu m
        left join menu u
        on m.id=u.parent_id
    </select>
</mapper>